
.Rectangle-89 {
    width: 200px;
    height: 210.2px;
    margin: 4px 0 0 33.7px;
    padding: 8px 27.3px 43.2px 15px;
    border-radius: 32px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.36);
    border: solid 2px rgba(255, 255, 255, 0.05);
    background-color: #fff;
    display: flex;
  }

  .Rectangle-89 {
    width: 200px;
    height: 210.2px;
    margin: 0 33.7px 4px 29.7px;
    padding: 13px 30.3px 58.2px 26px;
    border-radius: 32px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.36);
    border: solid 2px rgba(255, 255, 255, 0.05);
    background-color: #fff;
    display: flex;

  }


  .Rectangle-89 {
    width: 200px;
    height: 210.2px;
    margin: 4px 29.7px 0 0;
    padding: 9px 21.7px 9.2px 15px;
    border-radius: 32px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.36);
    border: solid 2px rgba(255, 255, 255, 0.05);
    background-color: #fff;
    display: flex;

  }